<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Test</title>

   />

  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/style3.css" />
  
</head>
<body>
  <div id="ken" class="ken-container">
    <h1>สวัสดีครับ ผมชื่อเค็น</h1>
    <p>ผมเป็นคนที่สนใจเทคโนโลยี ชอบทำอาหาร และชอบเรียนรู้สิ่งใหม่ๆ<br>
       ตอนนี้กำลังฝึกเขียนเว็บ และทำโปรเจกต์เล็กๆของตัวเองอยู่ครับ</p>
    <div class="ken-social">
      <a href="https://facebook.com/Kentrollinglol" target="_blank">Facebook</a> |
      <a href="https://github.com/Kenjiiiii168" target="_blank">GitHub</a>
    </div>
    <button class="ken-btn" onclick="sayHello('เค็น')">คลิกเพื่อทักทาย</button>
  </div>
  <div style="text-align:center; margin-top:40px;">
    <a href="index2.html" class="pixel-btn">Previous Page</a>
  </div>

  <script src="../static/js/script.js"></script>
</body>
</html>