<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Zeaeiw highlights</title>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../static/css/style3.css" />
</head>
<body>

  <h1>Zeaeiw highlights</h1>

  <div class="youtube-container">

    <div class="yt-item">
      <img class="yt-thumb" src="https://img.youtube.com/vi/sq85kP1-pFE/hqdefault.jpg" alt="Video 1" />
      <iframe class="yt-video" src="https://www.youtube.com/embed/sq85kP1-pFE?autoplay=1&mute=1&loop=1&playlist=sq85kP1-pFE" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="yt-title">Video 1</div>
    </div>

    <div class="yt-item">
      <img class="yt-thumb" src="https://img.youtube.com/vi/fAi7Q0tGevk/hqdefault.jpg" alt="Video 2" />
      <iframe class="yt-video" src="https://www.youtube.com/embed/fAi7Q0tGevk?autoplay=1&mute=1&loop=1&playlist=fAi7Q0tGevk" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="yt-title">Video 2</div>
    </div>

    <div class="yt-item">
      <img class="yt-thumb" src="https://img.youtube.com/vi/K3D-zCnxdec/hqdefault.jpg" alt="Video 3" />
      <iframe class="yt-video" src="https://www.youtube.com/embed/K3D-zCnxdec?autoplay=1&mute=1&loop=1&playlist=K3D-zCnxdec" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="yt-title">Video 3</div>
    </div>

    <div class="yt-item">
      <img class="yt-thumb" src="https://img.youtube.com/vi/72ghpyhXNw0/hqdefault.jpg" alt="Video 4" />
      <iframe class="yt-video" src="https://www.youtube.com/embed/72ghpyhXNw0?autoplay=1&mute=1&loop=1&playlist=72ghpyhXNw0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="yt-title">Video 4</div>
    </div>

    <div class="yt-item">
      <img class="yt-thumb" src="https://img.youtube.com/vi/T49qd7a1O3M/hqdefault.jpg" alt="Video 5" />
      <iframe class="yt-video" src="https://www.youtube.com/embed/T49qd7a1O3M?autoplay=1&mute=1&loop=1&playlist=T49qd7a1O3M" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <div class="yt-title">Video 5</div>
    </div>
  
  </div>

  <div style="text-align:center; margin-top:40px;">
    <a href="index.html" class="pixel-btn">Previous Page</a>
  </div>

</body>
</html>